<section class="sectionGeneral">
    <section class="sectionForm">
        <h2>Registro</h2>
        <form [formGroup]="registroForm">
            <!--Firstname-->
            <section class="form-group">
                <label for="username">Firstname:</label>
                <input type="text" class="form-control" id="firstname" formControlName="firstname" required pattern="[a-zA-Z]+" maxlength="{a-z}" [(ngModel)]="mensaje">
                    <section *ngIf="firstname?.invalid && (firstname?.dirty || firstname?.touched)">
                        <section *ngIf="firstname?.errors?.['required']" class="alert alert-danger">
                            <p>El firstname es obligatorio</p>
                        </section>
                    </section>
            </section>
            <!--Lastname-->
            <section class="form-group">
                <label for="password">Lastname:</label>
                <input type="text" class="form-control" id="lastname" formControlName="lastname" required pattern="[a-zA-Z]+" maxlength="{a-z}" [(ngModel)]="mensaje1">
                    <section *ngIf="lastname?.invalid && (lastname?.dirty || lastname?.touched)">
                        <section *ngIf="lastname?.errors?.['required']" class="alert alert-danger">
                            <p>El lastname es obligatorio</p>
                        </section>
                    </section>
            </section>
            <!--Username-->
            <section class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" formControlName="username" required pattern="[a-zA-Z]+" maxlength="{a-z}" [(ngModel)]="mensaje2">
                    <section *ngIf="username?.invalid && (username?.dirty || username?.touched)">
                        <section *ngIf="username?.errors?.['required']" class="alert alert-danger">
                            <p>El username es obligatorio</p>
                        </section>
                    </section>
            </section>
            <!--Password-->
            <section class="form-group">
                <label for="password">Password:</label>
                <input type="text" class="form-control" id="password" formControlName="password" required pattern="[a-zA-Z]+" maxlength="{a-z}" [(ngModel)]="mensaje3">
                    <section *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                        <section *ngIf="password?.errors?.['required']" class="alert alert-danger">
                            <p>El password es obligatorio</p>
                        </section>
                    </section>
            </section>
            <section class="form-group sectionBotones">
                <input type="button" class="btn btn-success" (click)="EnviarMensaje()" value="Log in">
            </section>
        </form>
    </section>    
</section>